[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
python-json-logger = "*"
python-dotenv = "*"
uvicorn = "*"
fastapi = {extras = ["standard"], version = "*"}
opentelemetry-instrumentation-fastapi = "*"
opentelemetry-distro = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
flake8-2020 = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.11"

[scripts]
"start:fastapi" = "fastapi dev main.py"
test = "pytest"
lint = "flake8"
format = "black ."
